<div class="main-container">
    <div class="close-btn-div">
        <button class="close-btn">
            <img src="../../../assets/x-circle.png" alt="">
        </button>
    </div>
    <div class="container">
        <div class="work-experience">

            <h4>Documents</h4>


            <form action="">
                <div class="documents-field">
                    <input type="text" placeholder="Document Name">
                    <input type="file" class="input-file">
                </div>

                <div class="documents-field">
                    <input type="text" placeholder="Document Name">
                    <input type="file" class="input-file">
                </div>

                <div class="documents-field">
                    <input type="text" placeholder="Document Name">
                    <input type="file" class="input-file">
                </div>

                <div class="documents-field">
                    <input type="text" placeholder="Document Name">
                    <input type="file" class="input-file">
                </div>

                <div class="personal-info-save-btn">
                    <button class="save-btn">Save Edit</button> 
            
                    <button class="add-work">
                        Add
                    </button>
                </div>
            </form>
        </div>

    </div>
</div>