<main class="container">

    <!-- PROFILE INFORMATION -->
    <section class="my-profile">
        <div class="information-edit">
            <h3>Information</h3>
            <a  class="edit" (click)="openModal()">
                <img src="../../../assets/edit-3.png" alt="">
                <span style="color: #D62196">edit</span>
            </a>
        </div>
        <app-personal-info *ngIf="isOpen"></app-personal-info>
        <div class="profile-description">
            <div class="profile-pic">
                <img src="../../../assets/profile pic.png" alt="">
                <h3 class="profile-name">Ronke Bosola</h3>
                <p class="profile-role">Product Designer</p>
            </div>

            <div class="personal-details">
                    <div class="personal-details-label">
                        <p>Phone:    <span>08109639793</span></p>
                        <p>E-mail:   <span>test123@gmail.com</span></p>
                        <p>Birthday: <span>1/10/1969</span></p>
                        <p>Address:  <span>14, Norman Willams Estate, Ikoyi, Lagos</span></p>
                        <p>Gender:   <span>She-male</span></p>
                        <p>Location: <span>Ikoyi, Lagos</span></p>
                    </div>
            </div>
            

            <div class="my-tools">
                
                <div class="skills">
                    <p>Skills</p>
                    <ul>
                        <li>Illustrator</li>
                        <li>Photoshop</li>
                        <li>Figma</li>
                        <li>Adobe illustrator</li>
                        <li>Sketch</li>
                    </ul>
                </div>

                <div class="tools">
                    <p>Tools</p>
                    <ul>
                        <li>Illustrator</li>
                        <li>Photoshop</li>
                        <li>Figma</li>
                        <li>Adobe illustrator</li>
                        <li>Sketch</li>
                    </ul>
                </div>
            </div>
        </div>

        
    </section>

        <!-- ABOUT-ME SECTION -->
    <section class="about-me">
        <div class="information-edit">
            <h3>About Me</h3>
            <a class="edit" (click)="openModal()">
                <img src="../../../assets/edit-3.png" alt="">
                <span style="color: #D62196">edit</span>
            </a>
        </div>

        <app-work-experience-edit *ngIf="isOpen"></app-work-experience-edit>
        <div class="profile-description">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur id laborum odio nulla, nemo asperiores cupiditate quas eius placeat! Maxime architecto quam minima officiis eveniet nostrum suscipit ut sequi cumque iusto laudantium, unde similique consequatur, dolores nam rerum! Repellendus expedita error optio nam rerum animi modi, sapiente facere perspiciatis, illum qui ipsa maxime eum at rem velit. Molestiae dolorum animi nemo nisi dolorem. Quidem tempore omnis natus voluptatem minima. Pariatur laboriosam, minus iure neque sequi sapiente mollitia eligendi repellat, libero, harum molestias cupiditate nostrum voluptas? Minima quas commodi optio cumque laboriosam magni nemo tempora atque, a labore, consequatur praesentium voluptates!
            </p>
        </div>

        
    </section>

        <!-- WORK EXPERIENCE -->
    <section class="about-me">
        <div class="information-edit">
            <h3>Work Experience</h3>
            <a routerLink="#" class="edit">
                <img src="../../../assets/edit-3.png" alt="">
                <span style="color: #D62196">edit</span>
            </a>
        </div>
        <div class="profile-description-work">
            <div class="profile-description-title">
                <p class="profile-description-role">Product designer</p>
                <p class="companyName">ABC Technology</p>
                <p class="years">2000 - 2003</p>
            </div>

            <div class="work-experince-list">
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, dolorem.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, dolorem.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, dolorem.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, dolorem.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, dolorem.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, dolorem.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, dolorem.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, dolorem.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, dolorem.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, dolorem.</li>
                </ul>
            </div>
        </div>
    </section>

    <!-- PROJECTS -->

    <section class="about-me">
        <div class="information-edit">
            <h3>Projects</h3>
            <a routerLink="#" class="edit">
                <img src="../../../assets/edit-3.png" alt="">
                <span style="color: #D62196">edit</span>
            </a>
        </div>
        <div class="project-description-work">
            <div class="project-list">
                <p class="profile-description-role">Project Title</p>
                <p class="companyName">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, fugiat.</p>
                <p class="links"><a routerLink="#">Project Link</a></p>
            </div>

            <div class="project-list">
                <p class="profile-description-role">Project Title</p>
                <p class="companyName">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, fugiat.</p>
                <p class="links"><a routerLink="#">Project Link</a></p>
            </div>

            <div class="project-list">
                <p class="profile-description-role">Project Title</p>
                <p class="companyName">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, fugiat.</p>
                <p class="links"><a routerLink="#">Project Link</a></p>
            </div>

        </div>
    </section>

        <!-- EDUCATION INFO AND DOCUMENT -->

        <section class="education-docs">
            <div class="education">
                <div class="information-edit">
                    <h3>Educational information</h3>
                    <a routerLink="#" class="edit">
                        <img src="../../../assets/edit-3.png" alt="">
                        <span style="color: #D62196">edit</span>
                    </a>
                </div>
                <div class="project-description-work">
                    <div class="project-list">
                        <p class="profile-description-role">International College of Design and Coding - Undergraduate </p>
                        <p class="companyName">Bsc Computer Science</p>
                        <p class="links">2000 - 2004</p>
                    </div>
        
                    <div class="project-list">
                        <p class="profile-description-role">International College of Design and Coding - Post Graduate </p>
                        <p class="companyName">Msc Computer Science</p>
                        <p class="links">2006 - 2007</p>
                    </div>
        
                </div>

            </div>

            <div class="documents">

                <div class="information-edit">
                    <h3>Documents</h3>
                    <a routerLink="#" class="edit">
                        <img src="../../../assets/edit-3.png" alt="">
                        <span style="color: #D62196">edit</span>
                    </a>
                </div>
                <div class="project-description-work">
                    <div class="project-list document-view">
                        <p class="profile-description-ro#le">Document name</p>
                        <p class="links"><a routerLink="#">View</a></p>
                    </div>

                    <div class="project-list document-view">
                        <p class="profile-description-role">Document name</p>
                        <p class="links"><a routerLink="#">View</a></p>
                    </div>

                    <div class="project-list document-view">
                        <p class="profile-description-role">Document name</p>
                        <p class="links"><a routerLink="#">View</a></p>
                    </div>

                    <div class="project-list document-view">
                        <p class="profile-description-role">Document name</p>
                        <p class="links"><a routerLink="#">View</a></p>
                    </div>

                    <div class="project-list document-view">
                        <p class="profile-description-role">Document name</p>
                        <p class="links"><a routerLink="#">View</a></p>
                    </div>
                </div>
            </div>


        </section>
</main>