<footer>
    <div class="copyright">
        © All rights reserved. MyXalary 2023
    </div>

    <div class="policy">
        <p>Private Policy</p>
        <p>Terms & Condition</p>
    </div>

    <div class="social-logos">
        <a href=""><img src="../../assets/Vector (1).png" alt="facebook"></a>
        <a href=""><img src="../../assets/Vector (2).png" alt="twitter"></a>
        <a href=""><img src="../../assets/instagram.png" alt="instagram"></a>
        <a href=""><img src="../../assets/linkedin.png" alt="linkedIn"></a>
    </div>
</footer>
