<section class="about-me">
    <div class="information-edit">
      <h3>Work Experience</h3>
      <a class="edit" (click)="openModal()">
        <img src="../../../assets/edit-3.png" alt=""/>
        <span style="color: #d62196">edit</span>
      </a>
    </div>

    <div class="profile-description-work">
        <div class="profile-description-title">
          <p class="profile-description-role">Product designer</p>
          <p class="companyName">ABC Technology</p>
          <p class="years">2000 - 2003</p>
        </div>
  
        <div class="work-experince-list">
          <ul>
            <li>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Asperiores, dolorem.
            </li>
            <li>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Asperiores, dolorem.
            </li>
            <li>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Asperiores, dolorem.
            </li>
            <li>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Asperiores, dolorem.
            </li>
            <li>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Asperiores, dolorem.
            </li>
            <li>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Asperiores, dolorem.
            </li>
            <li>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Asperiores, dolorem.
            </li>
            <li>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Asperiores, dolorem.
            </li>
            <li>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Asperiores, dolorem.
            </li>
            <li>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Asperiores, dolorem.
            </li>
          </ul>
        </div>
      </div>
    </section>