<div class="container">
    <div class="work-experience">
    <h4>Project</h4>
        <form action="">
            <div class="first-input-div">
                <input type="text" name="" id="" placeholder="Project title">
                <input type="text" name="" id="" placeholder="Project link">
            </div>
                
            <div class="second-input-div">
                <textarea name="" id="" cols="30" rows="10" placeholder="Project Description"></textarea>
            </div>


            <div class="personal-info-save-btn">
                <button class="save-btn">Save Edit</button> 

                <button class="add-work">
                    Add
                </button>
            </div>
        </form>
    </div>
</div>