header{
    width: 90vw;
    height: 10vh;
    margin: 20px auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.06);
    border-radius: 6px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav{
    /* border: 2px solid green; */
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
}


.nav-logo{
    width: 20%;
    height: 100%;
    /* border: 2px solid blue; */
}

.nav-list{
    display: flex;
    justify-content: space-around;
    font-size: 12px;
}

.nav-list a{
    text-decoration: none;
    color: #5E5873;
    ;
}

.active, .nav-list a:hover{
    color: #D62196;
}
.nav-list li{
    padding-right: 30px;
    list-style: none
}

.nav-btn{
    background: #440F7C;
    border-radius: 5px;
    color: white;
    Padding: 10px;
    border: none;
}

.nav-btn a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}