<header>
    <nav>
      <div class="nav-logo">
        <img src="../../assets/Logo.png" alt="">
      </div>
      <div class="nav-items-1">
        <ul class="nav-list">
          <a routerLink="#"  routerLinkActive="active"><li class="nav-list-1">Home</li></a>
          <a routerLink="#"  routerLinkActive="active"><li class="nav-list-1">About us</li></a>
          <a routerLink="#"  routerLinkActive="active"><li class="nav-list-1">Feature</li></a>
          <a routerLink="/jobs" routerLinkActive="active"><span><li class="nav-list-1">Jobs</li></span></a>
          <a routerLink="#"  routerLinkActive="active"><li class="nav-list-1">LMS</li></a>
          <a routerLink="#"  routerLinkActive="active"><li class="nav-list-1">How it works</li></a>
          <a routerLink="#"  routerLinkActive="active"><li class="nav-list-1">Blog</li></a>
          <a routerLink="#"  routerLinkActive="active"><li class="nav-list-1">FAQs</li></a>
          <a routerLink="#"  routerLinkActive="active"><li class="nav-list-1">Contact us</li></a>
        </ul>
      </div>
      <div class="nav-items-2">
        <button type="button" class="nav-btn btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          <a routerLink="/signup">Get Started</a>
        </button>
      </div>
    </nav>
</header>


<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->


