<main class="sign-up">
    <div class="sign-up-center">
        <h1 class="signup-h1">Change Password</h1>
        <p class="signup-h1">Make sure to create something secure and you can easily remember.</p>
        <br><br>
        <form action="">
            <label for="" class="label">Password</label><br>
            <input type="text" class="sign-up-input"><br><br>

            <label for="" class="label">Confirm Password</label>
            <input type="password" class="sign-up-input"><br>

            <div class="forget-password-div">
                <button class="sign-up-btn">Save Password</button>
            </div>
        </form>
    </div>
</main>
