<main class="sign-up">
    <div class="sign-up-center">
        <h1 class="signup-h1">Change Password</h1>
        <p class="signup-h1">Make sure to create something secure and you can easily remember.</p>
        <br><br>
        <form action="">
            <label for="" class="label">Password</label><br>
            <input 
                type="password" 
                class="sign-up-input"
                ngModel
                name="password"
                required><br><br>

            <label for="" class="label">Confirm Password</label>
            <input 
                type="password" 
                class="sign-up-input"
                ngModel
                name="password"
                required><br>

            <div class="forget-password-div">
                <button class="sign-up-btn" type="submit">Save Password</button>
            </div>
        </form>
    </div>
</main>
