<div class="container">
    <div class="number section-height"> 
        <select name="" id="">
            <option value="">No</option>
            <option value="">1</option>
            <option value="">2</option>
            <option value="">3</option>
            <option value="">4</option>
            <option value="">5</option>
        </select>
    </div>

    <div class="recent section-height"> 
        <select name="" id="">
            <option value="">Recent</option>
        </select>
    </div>

    <div class="search-bar section-height">
        <img src="../../assets/Vector.png" alt="">
        <input type="text" placeholder="Search">
    </div>

    <div class="category section-height"> 
        <select name="" id="">
            <option value="">By Category</option>
        </select>
    </div> 

    <div class="reading section-height"> 
        <select name="" id="">
            <option value="">By Reading</option>
        </select>
    </div> 

    <div class="tag section-height"> 
        <select name="" id="">
            <option value="">By Tag</option>
        </select>
    </div>

    <button class="filter-btn section-height">Filter</button>
</div>
