<div class="personal-info-edit">
    <h2>Product Designer</h2>
    <h4>Personal Information</h4>

    <div class="personal-info-details-edit">
        <div class="personal-info-div">
            <label for="" class="personal-info">Profile picture:</label>
            <label for="" class="personal-info">Full Name:</label>
            <label for="" class="personal-info">Phone:</label>
            <label for="" class="personal-info">Email:</label>
            <label for="" class="personal-info">Birthday:</label>
            <label for="" class="personal-info">Address:</label>
            <label for="" class="personal-info">Gender:</label>
            <label for="" class="personal-info">Location:</label>
            <label for="" class="personal-info">Skills:</label>
            <label for="" class="personal-info">Tools:</label>
        </div>
    
        <div class="personal-info-input">
            <input type="file">
            <input type="text">
            <input type="phone">
            <input type="text">
            <input type="text">
            <input type="text">
            <input type="text">
            <input type="text">
            <input type="text">
            <input type="text">
        </div>
    </div>

   
    
    <div class="personal-info-save-btn">
        <button>Save Edit</button> 
    </div>
</div>