<main class="sign-up">
    <a  routerLink="" class="back"> 
        <img src="../../../assets//Vector (4).png" alt=""> 
        <p>Back</p>
    </a>
    <div class="forgot-password-center">
        <h1 class="signup-h1">Forgot Password?</h1>
        <p class="signup-h1">Enter the email address associated with your account</p>
        
        <form action="" class="email-form">
            <label for="" class="label">Email Address</label> <br>
            <input type="text" class="sign-up-input">

            <button class="sign-up-btn">Send Password Reset Link</button><br><br>
        </form>
    </div>
</main>