<div class="container" *ngFor="let myApplication of Applications">
        <div class="job-logo">
            <img src="{{myApplication.companyLogo}}" alt="">
            <div class="job-title">
                <p class="companyName">{{myApplication.companyName}}</p>
                <p class="role">{{myApplication.role}}</p>
            </div>
        </div>

        <div class="job-location-salary">
            <div class="location">
                <img src="../../../assets/map-pin.png" alt="">
                <p>{{myApplication.location}}</p>
            </div>

            <div class="salary">
                <p id="salary">
                    <span>&#8358;</span>{{myApplication.salary}}
                </p>
            </div>
        </div>

        <div class="job-tools-date">
            <div class="tools">
                <ul class="listed-tools">
                    <li *ngFor="let subItem of myApplication['tools']">
                        {{subItem}}
                    </li>
                </ul>
            </div>

            <div class="action">
                    <select name="" id="">
                        <option value="">Actions</option>
                        <option value=""><button>Accept</button></option>
                        <option value=""><button>Reject</button></option>
                    </select>
            </div>
        </div>
</div>

