<main class="jobs">
    <div class="my-application">
        <div class="my-application-left">
            <app-section-display></app-section-display>
        </div>
        <!-- <div class="logout"> <img src="../../../assets/My project (2).png" alt="" class="logout-img"> Logout</div> -->
    </div>
        <app-selection-side></app-selection-side>

    <div class="main">
        <div class="sidebar-section">
            <app-sidebar></app-sidebar>
        </div>
        <div class="child">
            <router-outlet></router-outlet>
        </div>
    </div> 
    
    
</main>