.container{
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.06);
    width: 50vw;
    height: 50vh;
    padding: 50px;
    color: #5E5873;
    font-family: 'Poppins';
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all ease 0.5s;
    border-radius: 6px;
    font-family: 'poppins';
    z-index: 1050;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1040; 
    backdrop-filter: blur(10px); /* Add a blur effect */
    -webkit-backdrop-filter: blur(10px); /* Add a blur effect for older webkit browsers */
    transition: all ease 0.5s;
    overflow: hidden;
  }

.about-me{
    margin: 10px auto;
    width: 80%
}

textarea{
    width: 100%;
    border: 1px solid #5E5873;
}

.personal-info-save-btn button{
    background: #440F7C;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
  }

  .personal-info-save-btn button:hover{
    color: #FFFFFF;
    background-color: green;
  }

  
