<section class="about-me">
    <div class="information-edit">
      <h3>About Me</h3>
      <button 
        class="edit"
        data-bs-toggle="modal" data-bs-target="#aboutMe">
        <img src="../../../assets/edit-3.png" alt="" />
        <span style="color: #d62196">edit</span>
        
      </button>
    </div>
   

    <div class="profile-description">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur id
        laborum odio nulla, nemo asperiores cupiditate quas eius placeat! Maxime
        architecto quam minima officiis eveniet nostrum suscipit ut sequi cumque
        iusto laudantium, unde similique consequatur, dolores nam rerum!
        Repellendus expedita error optio nam rerum animi modi, sapiente facere
        perspiciatis, illum qui ipsa maxime eum at rem velit. Molestiae dolorum
        animi nemo nisi dolorem. Quidem tempore omnis natus voluptatem minima.
        Pariatur laboriosam, minus iure neque sequi sapiente mollitia eligendi
        repellat, libero, harum molestias cupiditate nostrum voluptas? Minima
        quas commodi optio cumque laboriosam magni nemo tempora atque, a labore,
        consequatur praesentium voluptates!
      </p>
    </div>
  </section>
