<div class="container">
    <div class="inner">
        <div class="application">
            <img src="../../assets/clock.png" alt="Application-icon">
            <p>My Application</p>
        </div>
        
        <div class="offer">
            <img src="../../assets/check-circle.png" alt="Job-icon">
            <p style="color:#D62196">My Job</p>
        </div>

        <div class="offer">
            <img src="../../assets/book.png" alt="Offer-icon">
            <p>My offer</p>
        </div>
    
        <div class="profile">
            <img src="../../assets/bookmark.png" alt="Profile-icon">
            <p> My Profile</p>
        </div>
    
        <div class="history">
            <img src="../../assets/thumbs-up.png" alt="History-icon">
            <p>My History</p>
        </div>
    
        <div class="log-out">
            <img src="../../assets/power (1).png" alt="Logout-icon">
            <p>Logout</p>
        </div>
    </div>
</div>
