<section class="my-profile">
    <div class="information-edit">
      <h3>Information</h3>
      <a
        type="button"
        class="edit"
       (click)="openModal()"
      >
        <img src="../../../assets/edit-3.png" alt="" />
        <span style="color: #d62196">edit</span>
    </a>
    </div>


    <div class="profile-description">
      <div class="profile-pic">
        <img src="../../../assets/profile pic.png" alt="" />
        <h3 class="profile-name">Ronke Bosola</h3>
        <p class="profile-role">Product Designer</p>
      </div>

      <div class="personal-details">
        <div class="personal-details-label">
          <p>Phone: <span>08109639793</span></p>
          <p>E-mail: <span>test123@gmail.com</span></p>
          <p>Birthday: <span>1/10/1969</span></p>
          <p>Address: <span>14, Norman Willams Estate, Ikoyi, Lagos</span></p>
          <p>Gender: <span>She-male</span></p>
          <p>Location: <span>Ikoyi, Lagos</span></p>
        </div>
      </div>

      <div class="my-tools">
        <div class="skills">
          <p>Skills</p>
          <ul>
            <li>Illustrator</li>
            <li>Photoshop</li>
            <li>Figma</li>
            <li>Adobe illustrator</li>
            <li>Sketch</li>
          </ul>
        </div>

        <div class="tools">
          <p>Tools</p>
          <ul>
            <li>Illustrator</li>
            <li>Photoshop</li>
            <li>Figma</li>
            <li>Adobe illustrator</li>
            <li>Sketch</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
