<main class="sign-up">
    <div class="sign-up-center">
        <h1 class="signup-h1">Sign Up</h1><br><br>
        <form action="">
            <label for="" class="label">Email Address</label><br>
            <input type="text" class="sign-up-input"><br><br>

            <label for="" class="label">Password</label>
            <input type="password" class="sign-up-input"><br><br>

            <label for="" class="label">Confirm Password</label>
            <input type="password" class="sign-up-input">

            <div class="forget-password-div">
                <button class="sign-up-btn">Sign up</button>
                <p class="have-account">Don't have an account? <a routerLink="" style="color: #D62196">Login</a></p>
            </div>
        </form>
    </div>
</main>

