.sign-up{
    height: 100vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* border: 1px solid black; */
}
.sign-up-center{
    width: 35vw;
    /* height: 70vh; */
    margin: 5px auto;
    color: #5E5873;
    /* border: 1px solid black; */
}
.signup-h1{
    text-align: center;
}
.label{
    font-size: 1.5vw;
}
.sign-up-input{
    width: 35vw;
    height: 5vh;
    border-radius: 5px;
    border: none;
    outline: none;
    padding-left: 1vw;
    margin-top: 1vh;
    font-family: "Poppins";
    font-size: 15px;
    color: #5E5873;
    box-shadow: 0 0 2px gray;
}
.sign-up-btn{
    height: 5vh;
    width: 15vw;
    background-color: #440F7C;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 3vh;
    font-weight: bold;
    font-size: 20px;
}


.login-btn{
    height: 5vh;
    width: 15vw;
    text-align: center;
    margin-top: 4vh;
    margin-bottom: 40px;
    background-color: #440F7C;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
}

.forget-password-div{
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forget-password-div a{
    text-decoration: none;
}


.label:after {
    content:" *";
    color: red;
  }

  a{
    text-decoration: none;
  }

  .existing-user{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-danger, .help-block{
    color: red;
  }

  input.ng-invalid.ng-touched{
    border: 1px solid red;
  }