<main class="container">
    <section class="job-description">
        <div class="job-role">
            <div class="job-description-header">
                <h2>Product Designer</h2>
                <p>LAGOS, NGA   /   ATB TECHSOFT SOLUTIONS   /   INFORMATION TECHNOLOGY</p>
            </div>
            <div class="job-details">
                <h4>Product Designer Job Description</h4>
                <div>
                    <h5>Job Overview</h5>
                    <p class="job-listed-responsibility">ATB Techsoft Solutions Limited, a leading firm in Information Technology industry in the metro area. We're pleased to have a 4.0 Glassdoor rating. We are looking to hire an experienced Product Designer to help us keep growing. If you're hard-working and dedicated, ATB Techsoft Solutions Limited, is an ideal place to get ahead. Apply today!</p>
                </div>
            </div>

            <div class="job-details">
                <h4>Responsibilities for Product Designer</h4>
                <div>
                    <!-- <h5>Responsibilities for Product Designer</h5> -->
                    <ul class="job-listed-responsibility">
                        <li>Create design concepts and drawings to determine the best product</li>
                        <li>Present product ideas to relevant team members for brainstorming</li>
                        <li>Suggest improvements to design and performance to product engineers</li>
                        <li>Employ design concepts into functional prototypes</li>
                        <li>Perform research on product technologies and structures to implement into design concepts</li>
                        <li>Maintain up to date on current industry trends and market conditions</li>
                        <li>Coordinate with designers to ensure accurate communication and efficiency in the design phase</li>
                        <li>Modify and revise existing designs to meet customer expectations</li>
                    </ul>
                </div>
            </div>

            <div class="job-details">
                <h4>Qualifications for Product Designer</h4>
                <div>
                    <ul class="job-listed-responsibility">
                        <li>Create design concepts and drawings to determine the best product</li>
                        <li>Present product ideas to relevant team members for brainstorming</li>
                        <li>Suggest improvements to design and performance to product engineers</li>
                        <li>Employ design concepts into functional prototypes</li>
                        <li>Perform research on product technologies and structures to implement into design concepts</li>
                        <li>Maintain up to date on current industry trends and market conditions</li>
                        <li>Coordinate with designers to ensure accurate communication and efficiency in the design phase</li>
                        <li>Modify and revise existing designs to meet customer expectations</li>
                    </ul>
                </div>
            </div>

            <div class="job-details">
                <h4>Qualifications for Product Designer: <span>Graduate</span></h4>
            </div>
            
            <div class="job-details">
                <h4>Experince Level: <span>Professional</span></h4>
            </div>

            <div class="job-details">
                <h4>Job Type: <span>Remote</span></h4>
            </div>

            <div class="job-details">
                <h4>Job Role Type: <span>Full-time</span></h4>
            </div>

            <div class="job-details">
                <h4>Location: <span>Lagos,Nigeria</span></h4>
            </div>

            <div class="job-details">
                <h4>Salary: <span>₦450,000.00 - ₦890,000.00</span></h4>
            </div>
            
        </div>

        <div class="job-applied">
           <div class="job-applied-inner">
            <button class="job-applied-btn">Applied</button>
            <p class="date-posted">Date Posted: 20/07/2021</p>
           </div>
        </div>
    </section>
</main>