<div class="education">
  <div class="information-edit">
    <h3>Educational information</h3>
    <a class="edit" (click)="openModal()">
      <img src="../../../assets/edit-3.png" alt="" />
      <span style="color: #d62196">edit</span>
    </a>
  </div>
  <!-- <app-education-info-edit *ngIf="userProfileData.isOpenEduInfo"></app-education-info-edit> -->

  <div class="project-description-work">
    <div class="project-list">
      <p class="profile-description-role">
        International College of Design and Coding - Undergraduate
      </p>
      <p class="companyName">Bsc Computer Science</p>
      <p class="links">2000 - 2004</p>
    </div>

    <div class="project-list">
      <p class="profile-description-role">
        International College of Design and Coding - Post Graduate
      </p>
      <p class="companyName">Msc Computer Science</p>
      <p class="links">2006 - 2007</p>
    </div>
  </div>
</div>