.container{
    width: 95%;
    height: 5vh;
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
}

.section-display{
    font-weight: 500;
    font-size: 18px;
    color: #5E5873;
}

.log-out{
   width: 80px;
}


.log-out-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #D62196;
    border: none;
    cursor: pointer;
}