.container{
    width: 100%;
    border: none;
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    color: #5E5873;
}

.inner{
    width: 90%;
    padding-left: 10px;
}

.sidebar-item:hover{
    color: #D62196;
    box-shadow: 0 0 3px solid #5E5873;
}

.application, .offer, .profile, .history, .log-out, .job{
    display: flex;
    align-items: center;
    padding: 5px;
}

img{
    padding-right: 10px;
}

a{
    text-decoration: none;
    display: flex;
    align-items: center;
}

.active{
    color: #D62196;
}

.progress-bar{
    width: 100%;
    height: 10vh;
    margin-top: 20px;
    padding: 2px;
    border: 1px solid red;
    border: none;
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    color: #5E5873;
    font-size: 12px;
    text-align: center;
}