<div class="container">
    <div class="inner">
        <div class="application">
            <a 
                routerLink="/my-application"
                routerLinkActive = 'active'>
                <img src="../../assets/clock.png" alt="Application-icon">
                <p>My Applications</p>
            </a>
        </div>

        <div class="offer">
            <a 
                routerLink="/my-offer"
                routerLinkActive = 'active'>
                <img src="../../assets/book.png" alt="Offer-icon">
                <p>My offer</p>
            </a>
        </div>
    
        
        <div class="job">
            <a 
                routerLink="/jobs"
                routerLinkActive = 'active'>
                <img src="../../assets/check-circle.png" alt="Job-icon">
                <p>My Job</p>
            </a>
        </div>

        <div class="profile">
            <a 
                routerLink="/my-profile"
                routerLinkActive = 'active'>
                <img src="../../assets/bookmark.png" alt="Profile-icon">
                <p> My Profile</p>
            </a>
        </div>
    
        <div class="history">
            <a 
                routerLink="/my-history"
                routerLinkActive = 'active'>
                <img src="../../assets/thumbs-up.png" alt="History-icon">
                <p>My History</p>
            </a>
        </div>
    
        <div class="log-out">
            <a 
                routerLink="/login-page"
                routerLinkActive = 'active'>
                <img src="../../assets/power (1).png" alt="Logout-icon">
                <p>Logout</p>
            </a>
        </div>
    </div>
</div>
