<div class="modal-backdrop"></div>

<div class="container">
  <div class="work-experience">
    <h4 class="mat-dialog-title">Education Info</h4>
    <form action="" class="mat-dialog-content">
      <div class="first-input-div">
        <input type="text" name="" id="" placeholder="School" />
        <input type="text" name="" id="" placeholder="Course" />
      </div>

      <div class="second-input-div">
        <div class="start-date-input">
          <label for="">Start date</label> <br />
          <input type="date" name="" id="" placeholder="Start date" />
        </div>
        <div class="end-date-input">
          <label for="">End date</label> <br />
          <input type="date" name="" id="" placeholder="Start date" />
        </div>
      </div>

      <br />
      <br />

      <div class="first-input-div">
        <input type="text" name="" id="" placeholder="School" />
        <input type="text" name="" id="" placeholder="Course" />
      </div>

      <div class="second-input-div">
        <div class="start-date-input">
          <label for="">Start date</label> <br />
          <input type="date" name="" id="" placeholder="Start date" />
        </div>
        <div class="end-date-input">
          <label for="">End date</label> <br />
          <input type="date" name="" id="" placeholder="Start date" />
        </div>
      </div>

      <div class="personal-info-save-btn mat-dialog-actions">
        <button class="save-btn" type="submit" [mat-dialog-close]="true">
          Save Edit
        </button>

        <button class="add-work">Add</button>
      </div>
    </form>
  </div>
</div>
