<main class="sign-up">
    <div class="sign-up-center">
        <h1 class="signup-h1">Application Tracker</h1>
        <p class="signup-h1">Login to access and manage your job applications</p>
        <br><br>
        <form action="">
            <label for="" class="label">Email Address</label><br>
            <input type="text" class="sign-up-input"><br><br>

            <label for="" class="label">Password</label>
            <input type="password" class="sign-up-input"><br>

            <div class="forget-password-div">
                <button class="sign-up-btn">Login</button>
                <a routerLink="/forgot-password" class="forgot-password" style="color: #D62196">Forgot Password</a>
                <p class="have-account">Don't have an account? <a routerLink="/signup" style="color: #D62196">Sign Up</a></p>
            </div>
        </form>
    </div>
</main>
