<section class="about-me">
    <div class="information-edit">
      <h3>Projects</h3>
      <a class="edit">
        <img src="../../../assets/edit-3.png" alt="" />
        <span style="color: #d62196">edit</span>
      </a>
    </div>

    <div class="project-description-work">
      <div class="project-list">
        <p class="profile-description-role">Project Title</p>
        <p class="companyName">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam,
          fugiat.
        </p>
        <p class="links"><a routerLink="#">Project Link</a></p>
      </div>

      <div class="project-list">
        <p class="profile-description-role">Project Title</p>
        <p class="companyName">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam,
          fugiat.
        </p>
        <p class="links"><a routerLink="#">Project Link</a></p>
      </div>

      <div class="project-list">
        <p class="profile-description-role">Project Title</p>
        <p class="companyName">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam,
          fugiat.
        </p>
        <p class="links"><a routerLink="#">Project Link</a></p>
      </div>
    </div>
  </section>
