.container{
    width: 100%;
    margin-bottom: 20px;
    padding: 0 5px;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    display: flex;
}

.container a{
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.job-logo{
    /* border: 1px solid black; */
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #5E5873;
}



.companyName{
    font-size: 10px;
    margin: 0;
    padding: 0;
}

.role{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 14px;
}

.job-location-salary{
    /* border: 1px solid black; */
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 400;
}


.job-tools-date{
    /* border: 1px solid black; */
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tools{
    width: 60%;
    font-weight: 400;
}

.listed-tools{
    list-style-type: none;
    padding: 2px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    font-size: 9px;
}

.listed-tools li{
    border: 1px solid #D62196;
    border-radius: 5px;
    color: #D62196;
    text-align: center;
    margin: 2px;
    padding: 5px;
}



.location , #salary{
    background-color: #F7D3EA;
    color: #D62196;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
}

.location{
    width: 40% ;
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#salary{
    text-align: center;
}

.time{
    color: #152536;
    font-style: normal;
    font-size: 12px;
    font-weight: 300;
}
