<div class="container">
    <div class="work-experience">
    <h4>Work Experience</h4>
        <form action="">
            <div class="first-input-div">
                <input type="text" name="" id="" placeholder="Job title">
                <input type="text" name="" id="" placeholder="Company">
            </div>
                
            <div class="second-input-div">
                <div class="start-date-input">
                    <label for="">Start date</label> <br>
                    <input type="date" name="" id="" placeholder="Start date">
                </div>
                <div class="end-date-input">
                    <label for="">End date</label> <br>
                    <input type="date" name="" id="" placeholder="Start date">
                </div>
            </div>

            <h5>Job Description</h5>
            <textarea name="" id="" cols="30" rows="10"></textarea>

            <div class="personal-info-save-btn">
                <button class="save-btn">Save Edit</button> 

                <button class="add-work">
                    Add
                </button>
            </div>
        </form>
    </div>
</div>